@import "theme/child_theme_variables";  // <--------- Add your variables into this file. Also add variables to overwrite Bootstrap variables here
@import "assets/bootstrap4";// <--------- Loads Bootstrap3 or Bootstrap4. Change from /bootstrap3 to /bootstrap4 Watch out! just for testing in the moment!
@import "../src/sass/understrap/understrap/understrap";// <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP
@import "../src/sass/understrap/theme/contact-form7";// <-------- Loads some basic styling for contact form 7 plugin

//Optional files - If you don´t use the corresponding scripts/fonts comment em out
@import "assets/font-awesome"; // <------- Font Awesome Icon font
@import "assets/underscores"; // <------- Underscores media styles

// Any additional imported files //
@import "theme/child_theme";  // <--------- Add your styles into this file

p {
	color: $body-color;
}

.course input[type=submit].course-start, .mc4wp-form-theme-dark p input[type=submit] {
	@extend .btn;
	@extend .btn-primary;
	text-transform: none;
    background-color: #0275d8 !important;
    &:hover {
    	background-color: #025aa5 !important;
    }
}

.mc4wp-form-theme p label {
	font-weight:normal;
	line-height:2;
}

.mc4wp-form {
	border: 1px solid #d3ced2;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px;
}


.widget ul {
	@extend .list-group;
	li {
		@extend .list-group-item;
		@extend .list-group-item-action;
		display:block;
		padding: 0;
		a {
			display:block;
			padding:  $list-group-item-padding-y $list-group-item-padding-x;
			color: $body-color;
		}
	}
}

.mc4wp-form-theme p input[type=text], .mc4wp-form-theme p input[type=email] {
	@extend .form-control;
}

#wrapper-footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #292b2c;
    color:white;
} 

.wrapper {
	padding:15px 0;
}

#main .course {
	padding:0;
	padding-left:15px;
	padding-right:15px;
}

#main .course-container {
	margin-right: -15px;
	margin-left: -15px;
}
   
#main .course, #main .course-container {
	border:none;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.course-lesson-count, .course-lesson-progress, .course-category, .widget_sensei_course_progress header, .course-progress-navigation {
	display:none;
}
 
#main .post {
	margin: 0 0 1.618em; 
}

.title {
	text-align:center;
	margin:10px 0;
}

.wpcf7 {
	max-width:100%;
}

.wpcf7-submit {
	width:auto !important;
}

 a:hover {
 	text-decoration: none;
}

.module header h2 {
	font-size:1.25rem;
}

.widget {
    margin-bottom: 20px;
}

#sensei-user-courses li {
	list-style:none;
	padding:0 15px;
}

.sensei-message {
	margin-top:10px !important;
}

.meter {
	margin-top:0;
}

.course-completion-rate {
	display: inherit;
    overflow: auto;
    font-size: inherit;
    line-height: inherit;
    background-color: transparent;
    text-align:left;
    border-radius: 0;
}

@include media-breakpoint-up(md) { 
  .card {
    height: 390px;
  }
}

.card p, .card span {
	font-size:14px;
}

.sensei-course-meta, .entry-meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
}

#main {
	width:100%; 
}

.single .entry-meta {
	position:relative;
	margin: 0;
	padding:0;
}

.course-progress-lessons {
	padding:0;
}

.widget.widget_sensei_course_progress .course-progress-lessons {
	.course-progress-module, .course-progress-lesson {
	    border-left: 1px solid rgba(0,0,0,0.05);
	    border-right: 1px solid rgba(0,0,0,0.05);
	}

	.course-progress-module {
		background: rgba(0,0,0,.05);
	}
}

.module .module-status {
	top:5px;
}


.hidden {
	display:none;
}

.wpcf7-form {
	label {
		line-height: 2;
	}
	p {
		margin-bottom:6px !important;
	}
	.required {
		color: red;
	    font-weight: 700;
	    border: 0;
	} 
}

.card { 
	box-shadow: 0px 1px #d7e1e2;
    border: 1px solid #d7e1e2;
    padding: 0px;
    border-radius: 9px;
    background: #f7f7f7;
    .card-img-top {
	    border-top-left-radius: 9px;
	    border-top-right-radius: 9px;
	    width:100%;
	}
	&:hover {
		.card-title {
			color: $brand-primary;
		}
		border:1px solid $brand-primary;
	}
}

